<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/smn_rel_requisicion_f_entrega/editor/form/config.xml
		${lbl:b_rel_requisition_date_delivery}
========
		${lbl:b_offer_delivery_date}
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/smn_oferta_f_entrega/filter/editor/form/config.xml
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/smn_rel_requisicion_f_entrega/editor/form/config.xml
		<recordset id='query-smn_requisicion_detalle_id.sql' source='sql' scope='transaction'/>
========
		<recordset id='query-smn_oferta_id.sql' source='sql' scope='transaction'/>
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/smn_oferta_f_entrega/filter/editor/form/config.xml
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/smn_rel_requisicion_f_entrega/editor/form/config.xml
		<print mode='table' recordset='query-smn_requisicion_detalle_id.sql' tag='smn_requisicion_detalle_id_rows'/>
========
		<print mode='table' recordset='query-smn_oferta_id.sql' tag='smn_oferta_id_rows'/>
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/smn_oferta_f_entrega/filter/editor/form/config.xml
		<print mode="form" recordset="_request" /> 
	</output>

</config>
