<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrequisicioncabecera.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_headboard_requisition}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_headboard_requisition}">
				<col id='smn_cabecera_version_id' label='${lbl:b_version_headboard}' />
		<col id='req_numero' label='${lbl:b_requisition_number}' />
		<col id='req_estatus' label='${lbl:b_requisition_status}' />
		<col id='smn_tipo_documento_id' label='${lbl:b_purchasing_documents_types}' />
		<col id='smn_documento_id' label='${lbl:b_purchasing_documents}' />
		<col id='req_descripcion' label='${lbl:b_requisition_description}' />
		<col id='req_fecha_requerido' label='${lbl:b_date_required}' />
		<col id='req_estatus_ruta' label='${lbl:b_status_rute}' />
		<col id='smn_entidad_id' label='${lbl:b_entities}' />
		<col id='smn_sucursal_id' label='${lbl:b_subsidiaries}' />
		<col id='req_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
