<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnrequisicioncabecera.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_entidad_id</colname>
			<colname>smn_auxiliar_rf</colname>
			<colname>smn_cabecera_version_id</colname>
			<colname>req_numero</colname>
			<colname>req_estatus</colname>
			<colname>smn_tipo_documento_id</colname>
			<colname>smn_documento_id</colname>
			<colname>req_descripcion</colname>
			<colname>req_fecha_registro_ini</colname>
			<colname>req_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_compras.smn_requisicion_cabecera</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnrequisicioncabecera.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_entidad_id;smn_auxiliar_rf;smn_cabecera_version_id;req_numero;req_estatus;smn_tipo_documento_id;smn_documento_id;req_descripcion;req_fecha_registro_ini;req_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
