<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='22%'/>
	<col width='25%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_tipo_linea_id','query-smnlineas.sql')" >${lbl:b_line_type}</th>
		<th style="display:none" class='sortable' onclick='sortBy("tlc_naturaleza","query-smnlineas.sql")'>
		<th class='sortable' onclick="sortBy('lin_codigo','query-smnlineas.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('lin_nombre','query-smnlineas.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('lin_fecha_registro','query-smnlineas.sql')" >${lbl:b_store_date}</th>
		<th>R/U</th>
		<th>R/I</th>
		<th>R/S</th>
		<th>R/A</th>	
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_lineas_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_lineas_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_lineas_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_tipo_linea_id}</td>
		<td style="display:none">${fld:tlc_naturaleza}</td>
		<td align='left'>${fld:lin_codigo}</td>
		<td align='left'>${fld:lin_nombre}</td>
		<td>${fld:lin_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/view-list-details.png" onclick="relusu('${fld:smn_lineas_id}','${fld:lin_codigo}','${fld:lin_nombre}','${fld:tlc_naturaleza}')" title="${lbl:b_rel_lines_users}"></td>
		<td><img src="${def:context}/images/view-list-details.png" onclick="relitem('${fld:smn_lineas_id}','${fld:lin_codigo}','${fld:lin_nombre}','${fld:tlc_naturaleza}')" title="${lbl:b_rel_lines_items}"></td>
		<td><img src="${def:context}/images/view-list-details.png" onclick="relser('${fld:smn_lineas_id}','${fld:lin_codigo}','${fld:lin_nombre}','${fld:tlc_naturaleza}')" title="${lbl:b_rel_lines_services}"></td>
		<td><img src="${def:context}/images/view-list-details.png" onclick="relact('${fld:smn_lineas_id}','${fld:lin_codigo}','${fld:lin_nombre}','${fld:tlc_naturaleza}')" title="${lbl:b_rel_lines_active_fix}"></td>


	</tr>
	</rows>
</table>
