<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnregla.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_business_rules}"/>
	
	<excel 
		recordset='query-smnregla.sql' 
		sheetname='${lbl:b_business_rules}' 
		filename='${lbl:b_business_rules}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='rul_codigo' label='${lbl:b_code}' />
		<col id='rul_nombre' label='${lbl:b_name}' />
		<col id='rul_cantidad_desde' label='${lbl:b_cant_dsd}' />
		<col id='rul_cantidad_hasta' label='${lbl:b_cant_hst}' />
		<col id='rul_monto_desde' label='${lbl:b_max_ammount_init}' />
		<col id='rul_monto_hasta' label='${lbl:b_ammount_end}' />
		<col id='rul_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
