<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnregla.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_business_rules}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_business_rules}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='rul_codigo' title='${lbl:b_code}'  align='left' />
			<col name='rul_nombre' title='${lbl:b_name}'  align='left' />
			<col name='rul_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='rul_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnregla.sql' width='100' spacingBefore='10'>
			<col name='rul_codigo' title='${lbl:b_code}' width='14' align='left' />
			<col name='rul_nombre' title='${lbl:b_name}' width='14' align='left' />
			<col name='rul_cantidad_desde' title='${lbl:b_cant_dsd}' width='14' align='left' format='######' />
			<col name='rul_cantidad_hasta' title='${lbl:b_cant_hst}' width='14' align='left' format='######' />
			<col name='rul_monto_desde' title='${lbl:b_max_ammount_init}' width='14' align='left' format='#,###,##0.00' />
			<col name='rul_monto_hasta' title='${lbl:b_ammount_end}' width='14' align='left' format='#,###,##0.00' />
			<col name='rul_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
