<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<!--<col width='11%'/>-->
	<col width='3%'/>
	<col width='3%'/>

	<!--toolbar-->
	<tr>
		<th colspan="16" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th>EC</th>
		<th>GE</th>
		<th class='sortable' onclick='sortBy("smn_solicitante","query-smncotizacion.sql")'>Solicitante</th>
		<th class='sortable' onclick='sortBy("smn_documento_id","query-smncotizacion.sql")'>${lbl:b_purchasing_documents}</th>
		<th class='sortable' onclick='sortBy("numero_requisicion","query-smncotizacion.sql")'>Numero Requisicion</th>
		<th class='sortable' onclick='sortBy("smn_item_rf","query-smncotizacion.sql")'>${lbl:b_item}</th>
		<th class='sortable' onclick='sortBy("cantidad","query-smncotizacion.sql")'>Cantidad</th>
		<th class='sortable' onclick='sortBy("fecha_requerida","query-smncotizacion.sql")'>Fecha Requerida</th>
		<th class='sortable' onclick='sortBy("numero_cotizacion","query-smncotizacion.sql")'>Numero Cotizacion</th>
		<!--<th class='sortable' onclick='sortBy("smn_proveedor_id","query-smncotizacion.sql")'>Proveedor</th>-->
		<th class='sortable' onclick='sortBy("cot_estatus","query-smncotizacion.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("cot_fecha_registro","query-smncotizacion.sql")'>${lbl:b_store_date}</th>
		<th>RCP</th>	
		<th>CFE</th>		

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_cotizacion_id}')" title="${lbl:b_view_detail}"></td>
		<!-- <td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_cotizacion_id}')" title="${lbl:b_delete_button}"></td> -->
		<td><img src="${def:context}/images/list-add2-18x18.png"  onclick="showEditor('${fld:smn_cotizacion_id}')" title="Añadir Item"></td>
		<td><img src="${def:context}/images/email.png" onclick="openEmails('${fld:smn_cotizacion_id}')" title="Enviar Correo"></td>
		<td><img src="${def:context}/images/icongrid/Generar.png" onclick="generar('${fld:smn_cotizacion_id}')" title="Generar oferta"></td>
		<td>${fld:smn_solicitante}</td>
		<td>${fld:smn_documento_id}</td>
		<td>${fld:numero_requisicion}</td>
		<td>${fld:smn_item_rf}</td>
		<td>${fld:cantidad}</td>
		<td>${fld:fecha_requerida@dd-MM-yyyy}</td>
		<td>${fld:numero_cotizacion}</td>
		<!--<td>${fld:smn_proveedor_id}</td>-->
		<td align='center'>${fld:cot_estatus}</td>
		<td>${fld:cot_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="relcotpro('${fld:smn_cotizacion_id}')" title="Relacion Cotizacion Proveedor"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="detalleentrega('${fld:smn_cotizacion_id}')" title="Fecha Entrega"></td>
	</tr>
	</rows>

</table>
