<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompradescuentosretenciones.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_smn_orden_compra_descuentos_retenciones}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_smn_orden_compra_descuentos_retenciones}">
				<col id='ocd_descripcion_pl0' label='${lbl:b_smn_orden_compra_detalle_id}' />
		<col id='smn_codigo_descuento_rf_combo' label='${lbl:b_smn_codigo_descuento_rf}' />
		<col id='ocd_monto_base' label='${lbl:b_ocd_monto_base}' />
		<col id='ocd_porcentaje' label='${lbl:b_ocd_porcentaje}' />
		<col id='ocd_monto_descuento' label='${lbl:b_ocd_monto_descuento}' />
		<col id='smn_moneda_rf_combo' label='${lbl:b_smn_moneda_rf}' />
		<col id='smn_tasa_rf_combo' label='${lbl:b_smn_tasa_rf}' />
		<col id='ocd_monto_base_ma' label='${lbl:b_ocd_monto_base_ma}' />
		<col id='ocd_monto_descuento_ma' label='${lbl:b_ocd_monto_descuento_ma}' />
		<col id='idioma' label='${lbl:s_profile_lang}' />
		<col id='usuario' label='${lbl:b_users}' />
		<col id='fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
