<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelrutaaprobacion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_rute_aprobate}"/>
	
	<excel 
		recordset='query-smnrelrutaaprobacion.sql' 
		sheetname='${lbl:b_rute_aprobate}' 
		filename='${lbl:b_rute_aprobate}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_ruta_id' label='${lbl:b_rute}' />
		<col id='rra_aprobacion' label='${lbl:b_approbation}' />
		<col id='smn_lineas_id' label='${lbl:b_lines}' />
		<col id='smn_roles_id' label='${lbl:b_roles}' />
		<col id='smn_regla_id' label='${lbl:b_rules}' />
		<col id='rra_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
