<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-imptodeducoferta.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_offer_deduction_tax}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_offer_deduction_tax}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-imptodeducoferta.sql' width='100' spacingBefore='40'>
			<col name='smn_oferta_id' title='${lbl:b_offer}' width='12' align='left'  />
			<col name='rio_monto_base_ml' title='${lbl:b_base_amount_ml}' width='12' align='left' format='#,###,##0.00' />
			<col name='imp_descripcion' title='${lbl:b_code_tax_deduction}' width='12' align='left'  />
			<col name='rio_monto_impuesto_ml' title='${lbl:b_tax_amount_ml}' width='12' align='left' format='#,###,##0.00' />
			<col name='dct_nombre' title='${lbl:b_code_discount}' width='12' align='left'  />
			<col name='rio_monto_base_ml' title='${lbl:b_base_amount_ml}' width='12' align='left' format='#,###,##0.00' />
			<col name='rio_porcentaje_descuento' title='${lbl:b_porcentage_discount}' width='12' align='left' format='#,###,##0.00' />
			<col name='rio_monto_descuento_ml' title='${lbl:b_discount_amount_ml}' width='12' align='left' format='#,###,##0.00' />

		</record>

	</pdf-report>
</config>
