<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_requisition_detail}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_requisicion_cabecera_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_cabecera_version_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_servicio_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_item_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_afijo_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_contrato_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_moneda_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_proveedor_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_linea_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-req_fecha_requerido.sql' source='sql' scope='transaction'/>
		<!--<recordset id='query-compras_recurrente.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-requiere_moneda.sql' source='sql' scope='transaction'/> -->
		<!-- <recordset id='query-servicio_contrato.sql' source='sql' scope='transaction'/> -->
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_requisicion_cabecera_id.sql' tag='smn_requisicion_cabecera_id_rows'/>
		<print mode='table' recordset='query-smn_cabecera_version_id.sql' tag='smn_cabecera_version_id_rows'/>
		<print mode='table' recordset='query-smn_servicio_id.sql' tag='smn_servicio_id_rows'/>
		<print mode='table' recordset='query-smn_item_id.sql' tag='smn_item_id_rows'/>
		<print mode='table' recordset='query-smn_afijo_id.sql' tag='smn_afijo_id_rows'/>
		<print mode='table' recordset='query-smn_contrato_id.sql' tag='smn_contrato_id_rows'/>
		<print mode='table' recordset='query-smn_moneda_id.sql' tag='smn_moneda_id_rows'/>
		<print mode='table' recordset='query-smn_proveedor_id.sql' tag='smn_proveedor_id_rows'/>
		<print mode='table' recordset='query-smn_linea_id.sql' tag='smn_linea_id_rows'/>
		<print mode='table' recordset='query-req_fecha_requerido.sql' tag='req_fecha_requerido_rows'/>
		<!-- <print mode="form" recordset="query-compras_recurrente.sql" /> -->
		<!-- <print mode="form" recordset="query-requiere_moneda.sql" /> -->
		<!-- <print mode="form" recordset="query-servicio_contrato.sql" /> -->
		<print mode="form" recordset="_request" /> 
	</output>

</config>
