<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompradetalle.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_orden_compra_detalle}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_smn_orden_compra_detalle}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_linea_id' title='${lbl:b_smn_linea_id}'  format='######' align='left' />
			<col name='smn_servicios_id' title='${lbl:b_smn_servicios_id}'  format='######' align='left' />
			<col name='smn_item_rf' title='${lbl:b_smn_item_rf}'  format='######' align='left' />
			<col name='smn_contrato_modulo_id' title='${lbl:b_smn_contrato_modulo_id}'  format='######' align='left' />
			<col name='ocd_estatus' title='${lbl:b_status}'  align='left' />
			<col name='ocd_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='ocd_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnordencompradetalle.sql' width='100' spacingBefore='10'>
			<col name='occ_descripcion_pl0' title='${lbl:b_smn_orden_compra_cabecera_id}' width='3' align='left' />
			<col name='smn_linea_id_combo' title='${lbl:b_smn_linea_id}' width='3' align='left' format='######' />
			<col name='smn_servicios_id_combo' title='${lbl:b_smn_servicios_id}' width='3' align='left' format='######' />
			<col name='smn_item_rf_combo' title='${lbl:b_smn_item_rf}' width='3' align='left' format='######' />
			<col name='smn_afijo_rf_combo' title='${lbl:b_smn_afijo_rf}' width='3' align='left' format='######' />
			<col name='smn_contrato_modulo_id_combo' title='${lbl:b_smn_contrato_modulo_id}' width='3' align='left' format='######' />
			<col name='ocd_descripcion' title='${lbl:b_ocd_descripcion}' width='3' align='left' />
			<col name='ocd_cantidad_pedida' title='${lbl:b_ocd_cantidad_pedida}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_cantidad_recibida' title='${lbl:b_ocd_cantidad_recibida}' width='3' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_rf_combo' title='${lbl:b_smn_unidad_medida_rf}' width='3' align='left' format='######' />
			<col name='ocd_costo_ml' title='${lbl:b_ocd_costo_ml}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_bruto_ml' title='${lbl:b_ocd_monto_bruto_ml}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_impuesto_ml' title='${lbl:b_ocd_monto_impuesto_ml}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_desc_reten_ml' title='${lbl:b_ocd_monto_desc_reten_ml}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_neto_ml' title='${lbl:b_ocd_monto_neto_ml}' width='3' align='left' format='#,###,##0.00' />
			<col name='smn_moneda_rf_combo' title='${lbl:b_smn_moneda_rf}' width='3' align='left' format='######' />
			<col name='smn_tasa_rf_combo' title='${lbl:b_smn_tasa_rf}' width='3' align='left' format='######' />
			<col name='ocd_costo_ma' title='${lbl:b_ocd_costo_ma}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_bruto_ma' title='${lbl:b_ocd_monto_bruto_ma}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_impuesto_ma' title='${lbl:b_ocd_monto_impuesto_ma}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_desc_reten_ma' title='${lbl:b_ocd_monto_desc_reten_ma}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_monto_neto_ma' title='${lbl:b_ocd_monto_neto_ma}' width='3' align='left' format='#,###,##0.00' />
			<col name='ocd_estatus_combo' title='${lbl:b_status}' width='3' align='left' />
			<col name='ocd_idioma' title='${lbl:s_profile_lang}' width='3' align='left' />
			<col name='ocd_usuario' title='${lbl:b_users}' width='3' align='left' />
			<col name='ocd_fecha_registro' title='${lbl:b_store_date}' width='3' align='left' format='dd-MM-yyyy' />
			<col name='ocd_hora' title='${lbl:s_loginhist_col2}' width='3' align='left' />

		</record>

	</pdf-report>
</config>
