<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
		<col width='3%'>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('rut_codigo','query-smnruta.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('rut_nombre','query-smnruta.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('rut_cantidad_aprobaciones','query-smnruta.sql')" >${lbl:b_cant_aprob}</th>
		<th class='sortable' onclick="sortBy('rut_fecha_registro','query-smnruta.sql')" >${lbl:b_store_date}</th>
			<th>R/A</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_ruta_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_ruta_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_ruta_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:rut_codigo}</td>
		<td align="left">${fld:rut_nombre}</td>
		<td align="center">${fld:rut_cantidad_aprobaciones}</td>
		<td align="center">${fld:rut_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/view-list-details.png" onclick="rutapro('${fld:smn_ruta_id}','${fld:rut_codigo}','${fld:rut_nombre}')" title="${lbl:b_rute_aprobate}"></td> 
	
	</tr>
	</rows>

</table>
