<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrequisiciondetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_requisition_detail}"/>
	
	<excel 
		recordset='query-smnrequisiciondetalle.sql' 
		sheetname='${lbl:b_requisition_detail}' 
		filename='${lbl:b_requisition_detail}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_requisicion_cabecera_id' label='${lbl:b_headboard_requisition}' />
		<col id='smn_cabecera_version_id' label='${lbl:b_version_headboard}' />
		<col id='smn_linea_id' label='${lbl:b_lines}' />
		<col id='smn_contrato_id' label='${lbl:b_contract}' />
		<col id='rss_cantidad' label='${lbl:b_quantity}' />
		<col id='rrs_precio' label='${lbl:b_price}' />
		<col id='rrs_monto' label='${lbl:b_mount}' />
		<col id='rrs_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
