<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo del resultado
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnitem.sql" />
	<set-request-attribute id="paging.pagesize" value="5" />

	<transaction>
		<classname>dinamica.GenericSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/smn_rel_requisicion_f_entrega/repgen/search/config.xml
	<searchCols>fdesde;fhasta;smn_requisicion_detalle_id;</searchCols>
	
========
	<searchCols>itm_codigo;itm_nombre;</searchCols>

>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/analizar/picklist_item/search/config.xml
	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
