<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_requisicion_cabecera_id</colname>
			<colname>smn_cabecera_version_id</colname>
			<colname>smn_linea_id</colname>
			<colname>smn_naturaleza_id</colname>
			<colname>smn_servicio_id</colname>
			<colname>smn_item_id</colname>
			<colname>smn_afijo_id</colname>
			<colname>rrs_producto_encontrado</colname>
			<colname>smn_contrato_id</colname>
			<colname>rrs_motivo_variacion</colname>
			<colname>rrs_porcentaje</colname>
			<colname>rss_cantidad</colname>
			<colname>rrs_precio</colname>
			<colname>rrs_monto</colname>
			<colname>smn_moneda_id</colname>
			<colname>rrs_precio_moneda_alterna</colname>
			<colname>rrs_monto_moneda_alterna</colname>
			<colname>smn_proveedor_id</colname>
			<colname>rrs_especificaciones_del_requerimiento</colname>
			<colname>rrs_fecha_de_requerido</colname>
			<colname>rrs_observaciones</colname>
		
		</cols>
		<table>smn_compras.smn_requisicion_detalle</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
