<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnofertafentrega.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_offer_delivery_date}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_offer_delivery_date}">
				<col id='smn_oferta_id' label='${lbl:b_quotation}' />
		<col id='ofe_consecutivo' label='${lbl:b_consecutivel}' />
		<col id='ofe_cantidad' label='${lbl:b_quantity}' />
		<col id='ofe_fecha_entrega' label='${lbl:b_delivery_date}' />
		<col id='ofe_status' label='${lbl:b_offer_status}' />
		<col id='smn_oferta_id' label='${lbl:b_quotation}' />
		<col id='ofe_consecutivo' label='${lbl:b_consecutivel}' />
		<col id='ofe_cantidad' label='${lbl:b_quantity}' />
		<col id='ofe_fecha_entrega' label='${lbl:b_delivery_date}' />
		<col id='ofe_status' label='${lbl:b_offer_status}' />

	</sheet>
	
	</excel>

</config>
