<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='50%'/>
	<col width='50%'/>


	<!--toolbar-->
	<tr>
		<th colspan="5">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_lineas_id","query-smnrellineaitem.sql")'>${lbl:b_lines}</th>
		<th class='sortable' onclick='sortBy("smn_item_id","query-smnrellineaitem.sql")'>${lbl:b_item}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_linea_item_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_linea_item_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_linea_item_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_lineas_id}</td>
		<td>${fld:smn_item_id}</td>

	</tr>
	</rows>

</table>
