<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnimptodeducoferta.sql" source="session" scope="transaction" />
		<recordset id='query-smndescuento.sql' source='sql' scope='transaction' />
	<recordset id='query-smncodigosimpuestos.sql' source='sql' scope='transaction' />
	<recordset id='query-smnmonedas.sql' source='sql' scope='transaction' />
	<recordset id='query-smntasasdecambio.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_offer_deduction_tax}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_offer_deduction_tax}">
				<col id='smn_oferta_id' label='${lbl:b_offer}' />
		<col id='rio_monto_base_ml' label='${lbl:b_base_amount_ml}' />
		<col id='rio_cod_impuesto_deduc_id' label='${lbl:b_code_tax_deduction}' />
		<col id='rio_porcentaje_deduc' label='${lbl:b_deduction_percentage}' />
		<col id='rio_sustraendo' label='${lbl:b_subtrahend}' />
		<col id='rio_monto_impuesto_ml' label='${lbl:b_tax_amount_ml}' />
		<col id='rio_moneda_rf' label='${lbl:b_coins}' />
		<col id='rio_tasa_rf' label='${lbl:b_exchange_rate}' />
		<col id='rio_monto_impuesto_ma' label='${lbl:b_tax_amount_ma}' />
		<col id='rio_cod_descuento' label='${lbl:b_code_discount}' />
		<col id='rio_monto_base_ml' label='${lbl:b_base_amount_ml}' />
		<col id='rio_monto_base_ma' label='${lbl:b_base_amount_ma}' />
		<col id='rio_porcentaje_descuento' label='${lbl:b_porcentage_discount}' />
		<col id='rio_monto_descuento_ml' label='${lbl:b_discount_amount_ml}' />
		<col id='rio_monto_descuento_ma' label='${lbl:b_discount_amount_ma}' />
		<col id='smn_oferta_id' label='${lbl:b_offer}' />
		<col id='rio_monto_base_ml' label='${lbl:b_base_amount_ml}' />
		<col id='rio_cod_impuesto_deduc_id' label='${lbl:b_code_tax_deduction}' />
		<col id='rio_monto_impuesto_ml' label='${lbl:b_tax_amount_ml}' />
		<col id='rio_cod_descuento' label='${lbl:b_code_discount}' />
		<col id='rio_monto_base_ml' label='${lbl:b_base_amount_ml}' />
		<col id='rio_porcentaje_descuento' label='${lbl:b_porcentage_discount}' />
		<col id='rio_monto_descuento_ml' label='${lbl:b_discount_amount_ml}' />

	</sheet>
		<sheet recordset='query-smndescuento.sql' sheetname=''>
		<col id='dct_nombre' label='${lbl:b_name}' />
	</sheet>

	<sheet recordset='query-smncodigosimpuestos.sql' sheetname=''>
		<col id='imp_descripcion' label='${lbl:b_description}' />
	</sheet>

	<sheet recordset='query-smnmonedas.sql' sheetname=''>
		<col id='mon_nombre' label='${lbl:b_name}' />
	</sheet>

	<sheet recordset='query-smntasasdecambio.sql' sheetname=''>
		<col id='tca_tasa_cambio' label='${lbl:}' />
	</sheet>


	</excel>

</config>
