<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_tipo_documento_id','query-smndocumentos.sql')" >${lbl:b_types_documents}</th>
		<th class='sortable' onclick="sortBy('dcc_codigo','query-smndocumentos.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('dcc_nombre','query-smndocumentos.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('dcc_escotizacion','query-smndocumentos.sql')" >${lbl:b_escot}</th>
		<th class='sortable' onclick="sortBy('dcc_cant_cotizaciones','query-smndocumentos.sql')" >${lbl:b_cant_cot}</th>
		<th class='sortable' onclick="sortBy('dcc_esoferta','query-smndocumentos.sql')" >${lbl:b_esoferta}</th>
		<th class='sortable' onclick="sortBy('dcc_cant_ofertas','query-smndocumentos.sql')" >${lbl:b_cant_ofert}</th>
		<th class='sortable' onclick="sortBy('dcc_fecha_registro','query-smndocumentos.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_documentos_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_documentos_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_documentos_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_tipo_documento_id}</td>
		<td align="left">${fld:dcc_codigo}</td>
		<td align="left">${fld:dcc_nombre}</td>
		<td align="left">${fld:dcc_escotizacion}</td>
		<td align="center">${fld:dcc_cant_cotizaciones}</td>
		<td align="center">${fld:dcc_esoferta}</td>
		<td align="center">${fld:dcc_cant_ofertas}</td>
		<td align="center">${fld:dcc_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
