<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompracabecera.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_orden_compra_cabecera}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_smn_orden_compra_cabecera}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnordencompracabecera.sql' width='100' spacingBefore='40'>
			<col name='smn_entidad_rf_combo' title='${lbl:b_entities}' width='12' align='left' format='######' />
			<col name='smn_sucursal_rf_combo' title='${lbl:b_smn_sucursal}' width='12' align='left' format='######' />
			<col name='smn_documento_id_combo' title='${lbl:b_smn_documento_id}' width='12' align='left' format='######' />
			<col name='occ_orden_compra_numero' title='${lbl:b_occ_orden_compra_numero}' width='12' align='left' format='######' />
			<col name='smn_proveedor_id_combo' title='${lbl:b_smn_proveedor_id}' width='12' align='left' format='######' />
			<col name='occ_fecha_orde_compra' title='${lbl:b_occ_fecha_orde_compra}' width='12' align='left' format='dd-MM-yyyy' />
			<col name='smn_forma_pago_rf_combo' title='${lbl:b_smn_forma_pago_rf}' width='12' align='left' format='######' />
			<col name='occ_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />
		</record>

	</pdf-report>
</config>
