<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelauxiliarcecoestorg.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnrelauxiliarcecoestorg.sql' sheetname='${lbl:b_rel_auxiliar_ceco_estorg}' filename='smn_rel_auxiliar_ceco_estorg.xls'>
		<col id='smn_auxiliar_rf_combo' label='${lbl:b_auxiliar}' />
		<col id='smn_centro_costo_rf_combo' label='${lbl:b_center_cost}' />
		<col id='smn_estructura_organizacional_rf_combo' label='${lbl:b_organizational_structure}' />
		<col id='rac_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>