<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Return JS in order to fill a combobox depending of value that send to this action
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>sucursales.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/editor/getsucursales/config.xml
		<print mode="table" recordset="query.sql" tag="smn_sucursal_id_rows"/>
========
		<print mode="table" recordset="query.sql" tag="smn_tasa_id_rows"/>
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/editor/tasas/config.xml
	</output>

</config>
