<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_codigo_descuento_rf_combo","query-smnordencompradescuentosretenciones.sql")'>${lbl:b_smn_codigo_descuento_rf}</th>
		<th class='sortable' onclick='sortBy("ocd_monto_base","query-smnordencompradescuentosretenciones.sql")'>${lbl:b_ocd_monto_base}</th>
		<th class='sortable' onclick='sortBy("ocd_porcentaje","query-smnordencompradescuentosretenciones.sql")'>${lbl:b_ocd_porcentaje}</th>
		<th class='sortable' onclick='sortBy("ocd_monto_descuento","query-smnordencompradescuentosretenciones.sql")'>${lbl:b_ocd_monto_descuento}</th>
		<th class='sortable' onclick='sortBy("ocd_fecha_registro","query-smnordencompradescuentosretenciones.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_descuento_retencion_oc_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_descuento_retencion_oc_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_descuento_retencion_oc_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_codigo_descuento_rf_combo}</td>
		<td align='right'>${fld:ocd_monto_base@#,###,##0.00}</td>
		<td align='right'>${fld:ocd_porcentaje@#,###,##0.00}</td>
		<td align='right'>${fld:ocd_monto_descuento@#,###,##0.00}</td>
		<td>${fld:ocd_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
