<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-imptodeducoferta.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_oferta_id</colname>
			<colname>rio_cod_impuesto_deduc_id</colname>
			<colname>rio_monto_impuesto_ml</colname>
			<colname>rio_cod_descuento</colname>
			<colname>rio_monto_base_ml</colname>
			<colname>rio_porcentaje_descuento</colname>
			<colname>rio_monto_descuento_ml</colname>
		
		</cols>
		<table>smn_compras.smn_impto_deduc_oferta</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-imptodeducoferta.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>rio_cod_descuento;rio_monto_impuesto_ml;rio_cod_impuesto_deduc_id;smn_oferta_id;rio_monto_descuento_ml;rio_porcentaje_descuento;rio_monto_base_ml;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
