<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='18%'/>
	<!-- <col width='18%'/> -->
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_requisicion_detalle_id','query-smnrelrequisicionfentrega.sql')" >${lbl:b_requisition_detail}</th>
		<!-- <th class='sortable' onclick="sortBy('cfe_consecutivo','query-smnrelrequisicionfentrega.sql')" >${lbl:b_consecutivel}</th> -->
		<th class='sortable' onclick="sortBy('cfe_cantidad','query-smnrelrequisicionfentrega.sql')" >${lbl:b_quantity}</th>
		<th class='sortable' onclick="sortBy('cfe_fecha_de_entrega','query-smnrelrequisicionfentrega.sql')" >${lbl:b_delivery_date}</th>
		<th class='sortable' onclick="sortBy('cfe_fecha_registro','query-smnrelrequisicionfentrega.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_requisicion_f_entrega_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_requisicion_f_entrega_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_requisicion_f_entrega_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_requisicion_detalle_id}</td>
		<!-- <td align="center">${fld:cfe_consecutivo}</td> -->
		<td align="center">${fld:cfe_cantidad}</td>
		<td align="center">${fld:cfe_fecha_de_entrega@dd-MM-yyyy}</td>
		<td align="center">${fld:cfe_fecha_registro}</td>

	</tr>
	</rows>

</table>
