<?xml version='1.0' encoding='ISO-8859-1' ?>

<config>
	
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/aprobar/config.xml
	<sumary> aprobar requisicion </sumary>
========
	<sumary> Generar oferta </sumary>
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/generar/config.xml
	
	<log> false </log>
	
	<transaction>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/aprobar/config.xml
		<classname>proceso.Aprobar</classname>
========
		<classname>proceso.GenerarOferta</classname>
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/generar/config.xml
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>message.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>
	
</config>