<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelauxiliarcecoestorg.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_rel_auxiliar_ceco_estorg}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='smn_auxiliar_rf' title='${lbl:b_auxiliar}'  format='######' align='center' />
			<col name='smn_centro_costo_rf' title='${lbl:b_center_cost}'  format='######' align='center' />
			<col name='smn_estructura_organizacional_rf' title='${lbl:b_organizational_structure}'  format='######' align='center' />
			<col name='rac_fecha_registro_desde' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='center' />
			<col name='rac_fecha_registro_hasta' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnrelauxiliarcecoestorg.sql' width='100' spacingBefore='10'>
			<col name='smn_auxiliar_rf_combo' title='${lbl:b_auxiliar}' width='14' align='center' format='######' />
			<col name='smn_centro_costo_rf_combo' title='${lbl:b_center_cost}' width='14' align='center' format='######' />
			<col name='smn_estructura_organizacional_rf_combo' title='${lbl:b_organizational_structure}' width='14' align='center' format='######' />
			<col name='rac_idioma' title='${lbl:s_profile_lang}' width='14' align='left' />
			<col name='rac_usuario' title='${lbl:b_user}' width='14' align='left' />
			<col name='rac_fecha_registro' title='${lbl:b_store_date}' width='14' align='center' format='dd-MM-yyyy' />
			<col name='rac_hora' title='${lbl:s_loginhist_col2}' width='14' align='left' />
		</table>

	</pdf-report>
</config>