<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelproveedorproducto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_rel_providers_products}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_rel_providers_products}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnrelproveedorproducto.sql' width='100' spacingBefore='40'>
			<col name='smn_proveedor_rf_combo' title='${lbl:b_providers}' width='20' align='left' format='######' />
			<col name='rpp_id_producto' title='${lbl:b_product}' width='20' align='left' format='######' />
			<col name='rpp_tipo_producto_combo' title='${lbl:b_type_product}' width='20' align='left' />
			<col name='rpp_producto_alterno' title='${lbl:b_product_altern}' width='20' align='left' />
			<col name='rpp_fecha_registro' title='${lbl:b_store_date}' width='20' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
