<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_rel_providers_products}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_proveedor_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-rpp_id_producto.sql' source='sql' scope='transaction'/>
		<recordset id='query-rpp_producto_alterno.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_servicio_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_moneda_id.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_afijos_rf.sql' source='sql' scope='transaction'/>
	</transaction>


	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_proveedor_rf.sql' tag='smn_proveedor_rf_rows'/>
		<print mode='table' recordset='query-rpp_id_producto.sql' tag='rpp_id_producto_rows'/>
		<print mode='table' recordset='query-rpp_producto_alterno.sql' tag='rpp_producto_alterno_rows'/>
		<print mode='table' recordset='query-smn_servicio_id.sql' tag='smn_servicio_id_rows'/>
		<print mode='table' recordset='query-smn_moneda_id.sql' tag='smn_moneda_id_rows'/>
		<print mode='table' recordset='query-smn_afijos_rf.sql' tag='smn_afijos_rf_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
