<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/filter/smn_req_detalle_impuesto/search/config.xml
	<set-request-attribute id="paging.recordset" value="query-smnreqdetalleimpuesto.sql" />
========
	<set-request-attribute id="paging.recordset" value="query-smnofertafentrega.sql" />
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/smn_oferta_f_entrega/search/config.xml
	<set-request-attribute id="paging.pagesize" value="6" />

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/filter/smn_req_detalle_impuesto/search/config.xml
		<recordset id="query-smnreqdetalleimpuesto.sql" source="sql" scope="session" on-empty-return="1" />
========
		<recordset id="query-smnofertafentrega.sql" source="sql" scope="session" on-empty-return="1" />
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/smn_oferta_f_entrega/search/config.xml
	</transaction>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
