<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
<!-- 	<col width='20%'/> -->
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<!-- <th class='sortable' onclick='sortBy("ocf_consecutivo","query-smnordencomprafechaentrega.sql")'>${lbl:b_ofe_consecutivo}</th> -->
		<th class='sortable' onclick='sortBy("ocf_cantidad","query-smnordencomprafechaentrega.sql")'>Cantidad</th>
		<th class='sortable' onclick='sortBy("ocf_fecha_entrega","query-smnordencomprafechaentrega.sql")'>Fecha Entrega</th>
		<th class='sortable' onclick='sortBy("estatus_combo","query-smnordencomprafechaentrega.sql")'>Estatus</th>
		<th class='sortable' onclick='sortBy("ocf_fecha_registro","query-smnordencomprafechaentrega.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_orden_compra_fecha_entrega_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_orden_compra_fecha_entrega_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_orden_compra_fecha_entrega_id}')" title="${lbl:b_edit_button}"></td>
		<!-- <td>${fld:ocf_consecutivo}</td> -->
		<td align='center'>${fld:ocf_cantidad@#,###,##0.00}</td>
		<td>${fld:ocf_fecha_entrega@dd-MM-yyyy}</td>
		<td>${fld:estatus_combo}</td>
		<td>${fld:ocf_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
