<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ver resultado de consulta
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="session" />
		<!--<recordset id='detail-smnrellineaservicio.sql' source='sql' scope='session' />
		<recordset id='detail-smnrellineaafijo.sql' source='sql' scope='session' />
		<recordset id='detail-smnrellineaitem.sql' source='sql' scope='session' />
		<recordset id='detail-smnrelrutaaprobacion.sql' source='sql' scope='session' />
		<recordset id='detail-smnrelusuarioslinea.sql' source='sql' scope='session' />-->

	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<!--<print mode='table' recordset='detail-smnrellineaservicio.sql' tag='rows-smnrellineaservicio' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrellineaafijo.sql' tag='rows-smnrellineaafijo' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrellineaitem.sql' tag='rows-smnrellineaitem' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrelrutaaprobacion.sql' tag='rows-smnrelrutaaprobacion' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrelusuarioslinea.sql' tag='rows-smnrelusuarioslinea' alternate-colors='true' />-->

		<print mode="form" recordset="query.sql" />
	</output>

</config>
