<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompraimpuesto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="7" cellStep="0" name="${lbl:b_smn_orden_compra_impuesto}"/>
	
	<excel 
		recordset='query-smnordencompraimpuesto.sql' 
		sheetname='${lbl:b_smn_orden_compra_impuesto}' 
		filename='${lbl:b_smn_orden_compra_impuesto}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_cod_impuesto_deduc_rf_combo' label='${lbl:b_smn_cod_impuesto_deduc_rf}' />
		<col id='oci_monto_base_ml' label='${lbl:b_oci_monto_base_ml}' />
		<col id='oci_porcentaje_impuesto' label='${lbl:b_oci_porcentaje_impuesto}' />
		<col id='oci_sustraendo_ml' label='${lbl:b_oci_sustraendo_ml}' />
		<col id='smn_tipo_impuesto_rf_combo' label='${lbl:b_smn_tipo_impuesto_rf}' />
		<col id='oci_monto_impuesto_ml' label='${lbl:b_oci_monto_impuesto_ml}' />
		<col id='oci_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>
