<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_oferta_id','query-smnofertafentrega.sql')" >${lbl:b_quotation}</th>
		<th class='sortable' onclick="sortBy('ofe_consecutivo','query-smnofertafentrega.sql')" >${lbl:b_consecutivel}</th>
		<th class='sortable' onclick="sortBy('ofe_cantidad','query-smnofertafentrega.sql')" >${lbl:b_quantity}</th>
		<th class='sortable' onclick="sortBy('ofe_fecha_entrega','query-smnofertafentrega.sql')" >${lbl:b_delivery_date}</th>
		<th class='sortable' onclick="sortBy('ofe_status','query-smnofertafentrega.sql')" >${lbl:b_offer_status}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_oferta_f_entrega_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_oferta_f_entrega_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_oferta_f_entrega_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_oferta_id}</td>
		<td align="center">${fld:ofe_consecutivo}</td>
		<td align="right">${fld:ofe_cantidad@#,###,##0.00}</td>
		<td align="center">${fld:ofe_fecha_entrega@dd-MM-yyyy}</td>
		<td align="left">${fld:ofe_status}</td>

	</tr>
	</rows>

</table>
