<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_quotation}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_auxiliar_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_item_rf.sql' source='sql' scope='transaction'/>
		<recordset id='query-smn_requisicion_detalle_id.sql' source='sql' scope='transaction'/>
		<!-- <recordset id='query-smn_documento.sql' source='sql' scope='transaction'/> -->
		<recordset id='query-smn_entidad_id.sql' source='sql' scope='transaction'/>
		<!-- <recordset id='query-smn_proveedor_id.sql' source='sql' scope='transaction'/> -->
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_auxiliar_rf.sql' tag='smn_auxiliar_rf_rows'/>
		<print mode='table' recordset='query-smn_item_rf.sql' tag='smn_item_rf_rows'/>
		<print mode='table' recordset='query-smn_requisicion_detalle_id.sql' tag='smn_requisicion_detalle_id_rows'/>
		<!-- <print mode='table' recordset='query-smn_documento.sql' tag='smn_documento_id_rows'/> -->
		<print mode='table' recordset='query-smn_entidad_id.sql' tag='smn_entidad_id_rows'/>
		<!-- <print mode='table' recordset='query-smn_proveedor_id.sql' tag='smn_proveedor_id_rows'/> -->
	</output>

</config>
