<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnofertafentrega.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="2" cellStep="0" name="${lbl:b_offer_delivery_date}"/>
	
	<excel 
		recordset='query-smnofertafentrega.sql' 
		sheetname='${lbl:b_offer_delivery_date}' 
		filename='${lbl:b_offer_delivery_date}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_oferta_id' label='${lbl:b_offer}' />
		<col id='ofe_consecutivo' label='${lbl:b_consecutivel}' />
		<col id='ofe_cantidad' label='${lbl:b_quantity}' />
		<col id='ofe_fecha_entrega' label='${lbl:b_delivery_date}' />
		<col id='ofe_status' label='${lbl:b_offer_status}' />

	</excel>

</config>
