<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompraimpuesto.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_smn_orden_compra_impuesto}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_smn_orden_compra_impuesto}">
				<col id='ocd_descripcion_pl0' label='${lbl:b_smn_orden_compra_detalle_id}' />
		<col id='smn_cod_impuesto_deduc_rf_combo' label='${lbl:b_smn_cod_impuesto_deduc_rf}' />
		<col id='oci_monto_base_ml' label='${lbl:b_oci_monto_base_ml}' />
		<col id='oci_porcentaje_impuesto' label='${lbl:b_oci_porcentaje_impuesto}' />
		<col id='oci_sustraendo_ml' label='${lbl:b_oci_sustraendo_ml}' />
		<col id='smn_tipo_impuesto_rf_combo' label='${lbl:b_smn_tipo_impuesto_rf}' />
		<col id='oci_monto_impuesto_ml' label='${lbl:b_oci_monto_impuesto_ml}' />
		<col id='smn_moneda_combo' label='${lbl:b_smn_moneda_rf}' />
		<col id='smn_tasa_combo' label='${lbl:b_smn_tasa_rf}' />
		<col id='oci_monto_impuesto_ma' label='${lbl:b_oci_monto_impuesto_ma}' />
		<col id='idioma' label='${lbl:s_profile_lang}' />
		<col id='usuario' label='${lbl:b_users}' />
		<col id='fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
