<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>
	<col width='12%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("rol_tipo","query-smnroles.sql")'>${lbl:b_rol_type}</th>
		<th class='sortable' onclick='sortBy("smn_corporaciones_id","query-smnroles.sql")'>${lbl:b_corporation}</th>
		<th class='sortable' onclick='sortBy("smn_entidades_id","query-smnroles.sql")'>${lbl:b_entities}</th>
		<th class='sortable' onclick='sortBy("smn_sucursales_id","query-smnroles.sql")'>${lbl:b_subsidiaries}</th>
		<th class='sortable' onclick='sortBy("smn_areas_servicios_id","query-smnroles.sql")'>${lbl:b_area_service}</th>
		<th class='sortable' onclick='sortBy("smn_unidades_servicios_id","query-smnroles.sql")'>${lbl:b_units_service}</th>
		<th class='sortable' onclick='sortBy("rol_fecha_registro","query-smnroles.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_roles_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_roles_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_roles_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:rol_tipo}</td>
		<td>${fld:smn_corporaciones_id}</td>
		<td>${fld:smn_entidades_id}</td>
		<td>${fld:smn_sucursales_id}</td>
		<td>${fld:smn_areas_servicios_id}</td>
		<td>${fld:smn_unidades_servicios_id}</td>
		<td>${fld:rol_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
