<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>rul_codigo</colname>
			<colname>rul_nombre</colname>
			<colname>rul_cantidad_desde</colname>
			<colname>rul_cantidad_hasta</colname>
			<colname>rul_var_cantidad</colname>
			<colname>smn_monedas_id</colname>
			<colname>rul_monto_desde</colname>
			<colname>rul_monto_hasta</colname>
			<colname>rul_var_monto</colname>
		
		</cols>
		<table>smn_compras.smn_regla</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
