<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_delivery_date_quote}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_delivery_date_quote}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_delivery_date_quote}' width='60' spacingBefore='40'>
			<col name='smn_cotizacion_id' title='${lbl:b_quotation}' align='left' format='######' />
			<col name='cfe_consecutivo' title='${lbl:b_consecutivel}' align='left' format='######' />
			<col name='cfe_cantidad' title='${lbl:b_quantity}' align='left' format='#,###,##0.00' />
			<col name='cfe_fecha_entrega' title='${lbl:b_delivery_date}' align='left' format='dd-MM-yyyy' />
			<col name='cfe_status' title='${lbl:b_status}' align='left' />
		</record>


	</pdf-report>
</config>
