<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelproveedorproducto.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_rel_providers_products}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_rel_providers_products}">
				<col id='smn_proveedor_rf_combo' label='${lbl:b_providers}' />
		<col id='rpp_id_producto' label='${lbl:b_product}' />
		<col id='rpp_tipo_producto_combo' label='${lbl:b_type_product}' />
		<col id='rpp_producto_alterno' label='${lbl:b_product_altern}' />
		<col id='rpp_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
