<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrellineaafijo.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_rel_lines_purchasing_fassets}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_rel_lines_purchasing_fassets}">
				<col id='smn_lineas_id' label='${lbl:b_lines}' />
		<col id='smn_afijo_id' label='${lbl:b_actfij}' />
		<col id='smn_lineas_id' label='${lbl:b_lines}' />
		<col id='smn_afijo_id' label='${lbl:b_actfij}' />

	</sheet>
	
	</excel>

</config>
