<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Generar reporte PDF
	</summary>

	<log>false</log>

	<pdf-title>${lbl:b_report_generator}</pdf-title>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query2.sql" source="session" scope="session" />
		<recordset id="field2.sql" source="session" scope="session" />
		<recordset id="total_width.sql" source="session" scope="session" />
		<recordset id="repgen.filter" source="session" scope="session" />
	</transaction>

	<output>
<<<<<<<< HEAD:WEB-INF/action/smn_proceso/smn_requisicion_cabecera1/smn_requisicion_detalle/filter/smn_req_detalle_impuesto/repgen/detail/pdf/config.xml
		<classname>domain.repgen.smn_proceso.smn_req_detalle_impuesto.PDFlReportDetail</classname>
========
		<classname>domain.repgen.smn_configuracion.smn_oferta_f_entrega.PDFlReportDetail</classname>
>>>>>>>> a57efee07d661d845df2ffc06524651f62dfc69e:WEB-INF/action/smn_proceso/smn_oferta/filter/smn_oferta_f_entrega/repgen/detail/pdf/config.xml
	</output>

</config>
