<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_requisicion_detalle_id","query-smnreqdetalleimpuesto.sql")'>${lbl:b_requisition_detail}</th>
		<th class='sortable' onclick='sortBy("rim_monto_base","query-smnreqdetalleimpuesto.sql")'>${lbl:b_base_amount}</th>
		<th class='sortable' onclick='sortBy("smn_cod_impuesto_deduc_rf","query-smnreqdetalleimpuesto.sql")'>${lbl:b_code_tax_deduction}</th>
		<th class='sortable' onclick='sortBy("smn_porcentaje_impuesto","query-smnreqdetalleimpuesto.sql")'>${lbl:b_tax_percentage}</th>
		<th class='sortable' onclick='sortBy("smn_sustraendo","query-smnreqdetalleimpuesto.sql")'>${lbl:b_subtract}</th>
		<th class='sortable' onclick='sortBy("rim_monto_impuesto","query-smnreqdetalleimpuesto.sql")'>${lbl:b_tax_amount_ml}</th>
		<th class='sortable' onclick='sortBy("rim_fecha_registro","query-smnreqdetalleimpuesto.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_req_detalle_impuesto_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_req_detalle_impuesto_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_req_detalle_impuesto_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_requisicion_detalle_id}</td>
		<td align='right'>${fld:rim_monto_base@#,###,##0.00}</td>
		<td>${fld:smn_cod_impuesto_deduc_rf}</td>
		<td align='right'>${fld:smn_porcentaje_impuesto@#,###,##0.00}</td>
		<td align='right'>${fld:smn_sustraendo@#,###,##0.00}</td>
		<td align='right'>${fld:rim_monto_impuesto@#,###,##0.00}</td>
		<td>${fld:rim_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
